<form
    class="add-expense-form"
    [formGroup]="paymentForm"
    (ngSubmit)="onSubmit()"
>
    <div class="add-expense-form__title">
        <h2 class="page-title">Adicionar despesa</h2>
    </div>
    <div class="add-expense-form__name">
        <label for="name">Nome</label>
        <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Ocasião da despesa"
            [class.is-invalid]="isFieldInvalid('name')"
        />
    </div>
    <div class="add-expense-form__date">
        <label for="date">Data</label>
        <input
            type="date"
            id="date"
            formControlName="date"
            placeholder="Date"
        />
    </div>
    <div class="add-expense-form__payment-method">
        <label for="paymentMethod">Método de Pagamento</label>
        <select id="paymentMethod" formControlName="paymentMethod">
            <option value="0" disabled selected>Selecione um</option>
            <option value="debit">Débito</option>
            <option value="credit">Crédito</option>
        </select>
    </div>
    <div class="add-expense-form__payment-type">
        <label for="paymentType">Tipo de Pagamento</label>
        <select id="paymentType" formControlName="paymentType">
            <option value="0" disabled selected>Selecione um</option>
            <option value="onePayment">À vista</option>
            <option value="installments">Parcelado</option>
        </select>
    </div>
    <div class="add-expense-form__installments">
        <label for="installments">Parcelas</label>
        <input
            type="number"
            id="installments"
            formControlName="installments"
            placeholder="Quantidade de parcelas"
        />
    </div>
    <div class="add-expense-form__payment-source">
        <label for="paymentSource">Origem do pagamento</label>
        <input
            type="text"
            id="paymentSource"
            formControlName="paymentSource"
            placeholder="Qual cartão/conta?"
        />
    </div>
    <div class="add-expense-form__value">
        <label for="value">Total</label>
        <input
            type="number"
            id="value"
            formControlName="value"
            placeholder="0.00"
        />
    </div>
    <div class="add-expense-form__items">
        <h3>Itens da despesa</h3>
        <div
            class="add-expense-form__items__container"
            formArrayName="transactionItems"
        >
            <ng-container *ngFor="let field of transactionItems.controls; let i = index">
                <div [formGroupName]="i" class="add-expense-form__items__item">
                    <div>
                        <input
                            type="text"
                            id="{{ 'additionalFieldName_' + i }}"
                            formControlName="name"
                            placeholder="Nome"
                        />
                    </div>
                    <div>
                        <input
                            type="number"
                            id="{{ 'additionalFieldValue_' + i }}"
                            formControlName="value"
                            placeholder="Valor"
                        />
                    </div>
                    <div>
                        <input
                            type="text"
                            id="{{ 'additionalFieldCategory_' + i }}"
                            formControlName="category"
                            placeholder="Categoria"
                        />
                    </div>
                </div>
            </ng-container>
        </div>
        <button
            type="button"
            (click)="addAdditionalField()"
            class="add-expense-form__items__add-item"
            aria-label="Adicionar item"
        >
            +
        </button>
    </div>
    <div class="add-expense-form__notes">
        <label for="notes">Informações adicionais</label>
        <textarea
            id="notes"
            formControlName="notes"
            placeholder="Notas gerais sobre a compra"
        ></textarea>
    </div>
    <button class="add-expense-form__submit" type="submit">
        Adicionar despesa
    </button>
</form>
